/* 

Color Palette:
    Baby Pink: #E4ADC4
    Etch-a-Sketch Red: #BF0A2B
    Canvas Grey: #D9D0D3
    Knobs White: #FEFFFD
    Font Yellow: #f3d37d

*/
html { 
    box-sizing: border-box;
}

*, *::before,  *::after {
    box-sizing: inherit;
}

html, body {
    height: auto;
}

body {
    font-family: 'Fascinate', sans-serif;
    background-color: #E4ADC4;
    margin: 0;
    display: flex;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
}

/* Type Selectors */

h1 {
    margin: auto;
}

button {
    background-color: #FEFFFD;
    border: none;
    font-family: 'Montserrat', sans-serif;
    width: 70px;
    height: 35px;
    border-radius: 4px;
}

/* Main Container */

.container {
    background-color: #BF0A2B;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    width: 800px;
    height: 800px;
    margin: 40px 0;
}

/* Header */

header {
    font-family: inherit;
    color: #f3d37d;
    height: 100px;
    display: flex;
    align-items: center;
}

/* Grid */

.grid-container {
    display: inline-grid;
    background-color: #c1c1b3;
    height: 600px;
    width: 600px;
}

/* Buttons */

.buttons {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.choice {
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.choice:hover {
    cursor: pointer;
    background-color:#f3d37d;
}

.activated {
    background-color: #f3d37d;
}

.erase {
    transition: all 0.3s ease-in-out;
    font-size: medium;
    font-weight: 600;
}

.erase:hover {
    cursor: pointer;
    background-color:#f3d37d;
    font-size: large;
}

.github,
.erase {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.fa-github {
    color: #f3d37d;
    transition: transform 0.3s ease-in-out;
  }
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}